<%#<form action="/users" method="post" accept-charset="UTF-8">%>
<%= form_tag("/users", method: "post") do %>
  <div>
    <%= label_tag(:user_username, "Username:") %>
    <%= text_field(:user, :username, placeholder: "username") %>
  </div>

  <div>
    <%= label_tag(:user_email, "Email:") %>
    <%= email_field(:user, :email, placeholder: "example@example.com") %>
  </div>

  <div>
    <%= label_tag(:user_password, "Password:")%>
    <%= password_field(:user, :password)%>
  </div>

  <div>
    <%= submit_tag("Submit")%>
  </div>
<% end %>